# Virtual environment
venv/
*.venv/
env/
ENV/

# Database & runtime files
*.db
*.sqlite3

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / secret keys
.env
.env.*
!.env.example

# IDEs and Code Editors
.vscode/
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Flask session / instance folder
instance/